checkpoints/
exp_record/
/exp_record*/
results/
/results*/
**/__pycache__
__pycache__/
result_analysis
result_tc
result_tc_2axis
result_tc_source
result_tc_test
result_analysis_a
result_labeled_num_vs_accuracy
models_ResNet34
models_tgt_conf_loader_ResNet34
only_tgt_sup_exp_record_6r_150b_fix_seed_not_augment
only_tgt_sup_models_fix_seed_not_augment_ResNet34
all_data_dict_10s_50b.pt
all_data_dict_50s_50b.pt
.ipynb_checkpoints
result_analyze_label_distribution
all_data_dict_10r_50b_ui_boundary.pt
with_gmm_only_tgt_sup_exp_record_6r_150b_fix_seed_not_augment
with_gmm_only_tgt_sup_models_fix_seed_not_augment_ResNet34
google_drive_api/client_secret_881044251580-8pip2gv64qdjhrqcqbhco46ri28nteri.apps.googleusercontent.com.json
config/secrets.py
token.json